# 忽略 .logs 目录
.logs/
.trunk/

# 忽略 tmp 目录
tmp/

# 忽略 .history 文件
.history

# 忽略 .vscode 和 .idea
.vscode/
.idea/

# 忽略 ci.yml 文件
ci.yml

# 忽略配置文件
.configs/config.yaml
configs/config.yaml

# 忽略 docs 目录
.docs/

# 开发目录
.idea
.vscode